# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Mac / IDE
.DS_Store
.vscode/
.idea/

# Git
.git
.gitignore

# Data (lepiej montować wolumenem niż kopiować do obrazu)
*.csv
*.xlsx